.dayContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: black;
    font-size: 20px;
    border-left: 2px solid black;
    padding: 7px;
    width: 300px;

}

.dayContainer h3{
    text-align: center;
    margin:20px;
    font-size: 18px;
}

.dayContainer .hourRed{
    color: red;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
}

.dayContainer .hour{
    color: green;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
}