.searchCourt{
    background-color: lightgray;
    padding-left: 2px;
    color: black;
    border-radius: 10px;
    border: 2px solid black;
    width: 70%;
    display: inline;
    margin: 10px auto;
}

.searchCourt::placeholder{
    color: black;
    width: 100%;
}

.courtsBox{
    /*py-3 w-100 bg-dark bg-opacity-50*/
    padding: 30px;
    width: auto;
    margin: 30px;
    background-color: rgba(34,139,34,0.7);
}

.courts-search-modals-container{
    display: flex;
    justify-content: center;
}

.filter-balance-modal-container{
    width: 15%;
}

.filter-container{
    margin: 20px;
}

.add-balance-container{
    margin: 20px;
}

.courts-search-container{
    width: 85%;
    background-color: rgba(0,0,0,0.8);
}

.search-container{
    text-align: center;
    padding: 10px;
    color: lightgrey;
    width: 65%;
}

.courtsBoxClient{
    display: grid;
    margin-top: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}