.courtsBox{
    /*py-3 w-100 bg-dark bg-opacity-50*/
    padding: 30px;
    width: auto;
    margin: 30px;
    background-color: rgba(34,139,34,0.7);
}

.courts-add-button-container{
    display: flex;
    justify-content: center;
}

.add-court-button-container{
    width: 15%;
}

.my-courts-container{
    width: 85%;
    background-color: rgba(0,0,0,0.8);
}
.my-courts-header-container{
    display: flex;
    align-items: center;
    justify-content:center;
}

.my-courts-title{
    width: 100%;
    text-align: center;
    padding: 10px;
    color: lightgrey;
    margin-right: 130px;
}

.my-courts{
    display: grid;
    margin-top: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}