.flex{
    display: flex;
    flex-direction: row-reverse;
}
.msg{
    position: absolute;
    top: 167px;
    left: 290px;
}
h4{
    color: black;
    font-size: 12px;
}
.court-name{
    color: darkslategray;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}