.flex{
    display: flex;
    flex-direction: row-reverse;
}
.msg{
    position: absolute;
    top: 167px;
    left: 290px;
}
h4{
    color: black;
    font-size: 12px;
}
.court-name{
    position: absolute;
    left: 20%;
    top:25%
}