.Register {
    text-align: center;
    overflow-y: scroll;
}

.Olimpia-logoRegister {
    height: 200px;
    pointer-events: none;
    margin-top: -20px;
}

.Register-header {
    background-image: url("../resources/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #228b22 ;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.content2 {
    background-color: rgba(0,183,102,0.8);
    width: 700px;
    height: 120vh;
    padding: 50px;
}

.register-contain{
    background-color: rgba(0,0,0,0.69);
    height: 75%;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    padding: 35px;
}

.register-input{
    color: white;
    margin-left: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #3b3b3b;
    width: 300px;
    padding: 5px;
    margin: 10px;
}

.register-input:focus {
    background-color: #fff;
    border: none;
    transition: 1.0s;
    color: black;
}

.Register-button {
    background-color: transparent;
    padding: 2px;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    width: 80%;
    display: block;
    margin: 10px auto;
}

.error{
    color: red;
    font-family: Calibri;
    font-size: medium;
}

.back-button {
    background-color: transparent;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    margin: 1px;
}

